.headerContainer {

}
.headerDiv {
  display: flex;
  justify-content: space-around;
  padding: 45px 0;
}
.headerHr {
  border: 1px solid #4D4D4D;
}
.headerUl {
  display: flex;
}
.headerLi {
  padding: 0 20px;
  color: #D1D1D1;
}
.nav {
  display: flex;
  align-items: center;
}
.sectionH1 {
  font-family: var(--font-poppinsBold);
  font-size: 48px;
  padding: 5px 0 40px 0 ;
  background: linear-gradient(to right, #3BF686 0%, #3BF686 50%, #4CA9FF 50%, #4CA9FF 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  display: inline-block;
  font-weight: bold;
}
.about {
  display: flex;
}
.biography {
  color: #4CA9FF, #62D9FF,  #62D9FF, #80FFA3;
}
.image {
  border-radius: 50%;
}
.main {
  padding-top: 120px;
  width: 1000px;
  margin: 0 auto;
}
.mainSection {

}
.biography {
  display: flex;
  padding: 0 30px;
}
.sectionP {
  font-family: var(--font-poppinsThin);
  width: 500px;
  color: #D6D6D6;
}
.sectionH3 {
  font-family: var(--font-poppinsMedium);
  font-size: 24px;
  padding: 10px 0;
}
.contact {
  padding: 0 20px;
}
.contactIcon {
  padding: 10px;
}
.contacListItem {
  display: flex;
}
.headerH1 {
  font-family: var(--font-poppinsMedium);
  font-size: 24px; 
}
.headerHr {
  width: 930px;
  margin: 0 auto;
}
.sectionH2 {
  font-size: 30px;
}
.sectionMid {
  padding: 70px 0 0 0;
}
.divMid {
  display: flex;  
}
.divMids {
  border: 1px solid #4D4D4D;
  padding: 75px;
}
.sectionBox {
  background: #323443;
  width: 560px;
}
.featuredH1 {
  font-family: var(--font-poppinsMedium);
  font-size: 40px;
  padding: 40px 10px;
}
.sectionContainer {
  display: flex;
  justify-content: space-around;
}
.sectionBoxItems {
  width: 560px;
  padding: 0 10px;
}
.sectionBoxItemOne, .sectionBoxItemTwo, .sectionBoxItemThree {
  padding: 10px;
}
.sectionBoxItemOne {
  font-family: var(--font-poppinsMedium);
  color: #DEDEDE;
}
.sectionBoxItemTwo {
  font-family: var(--font-poppinsMedium);
  font-size: 40px;
}
.sectionBoxItemThree {
  font-family: var(--font-poppinsThin);
  color: #D4D4D4;
}
.sectionContainerTwo {
  display: flex;
  justify-content: space-around;
  padding: 60px 0 100px 0;
}
.sectionBoxTwo {
  background: #323443;
  width: 560px;
}
.containerH1 {
  font-family: var(--font-poppinsBold);
}
.container {
  display: flex;
  justify-content: space-between;
  background-color: #323443;
}
.containerBox {
  border: 2px solid #323443;
  width: 800px;
}
.containerBoxTwo {
  border: 2px solid #323443;
  width: 800px;
}